<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>OPG heroku</title>
</head>

<body>
<div style=" padding:1em; margin-bottom:25px; display:inline-block">
    {% include 'opg/logo.html' %}
    {% if user.is_authenticated and not request.user.opg == "" %}
        {% include 'opg/menu.html' %}
    {% endif %}
</div>

    {% block content %}

        <p> empty page </p>
    {% endblock %}

    {% for message in messages %}
        <p id="messages">{{message}}</p>
    {% endfor %}

</body>
</html>