{% extends 'opg/main.html' %}

{% block content %}

<h3>Pregled profila </h3>
<div class="border" style="margin-bottom:20px" >
<table class="table table-hover table-borderless " >
    <tr>
        <td class="col-3">Ime</td>
        <td class="col-9">{{user.first_name}}</td>
    </tr>
    <tr>
        <td class="col-3">Prezime</td>
        <td class="col-9">{{user.last_name}}</td>
    </tr>
    <tr>
        <td class="col-3">Naziv OPG-a</td>
        <td class="col-9">{{opg.name}}</td>
    </tr>
    <tr>
        <td class="col-3">Adresa</td>
        <td class="col-9">{{opg.address}}</td>
    </tr>
    <tr>
        <td class="col-3">Telefon</td>
        <td class="col-9">{{opg.phone}}</td>
    </tr>

</table>
</div>

<a class="btn btn-light" href="{% url 'edit_profile' %}" role="button" > Editiranje profila </a>

{% endblock %}
